rpmbuild/BUILDROOT/*
rpmbuild/BUILD/*
.vim/bundle/jedi-vim/*
.bash_history
.bash_logout
.bash_profile
.cache/
.cshrc
.gitignores
.lesshst
.tcshrc
.viminfo
.virtualenvs/
_s99useraccounts
chk_grp
chk_user
log_conoha_add_download.log
passwd.must.remove.user
reconfigure.user
.erlang.cookie
.ssh/
fabfile/
rpmbuild/RPMS/noarch/*
rpmbuild/RPMS/x86_64/*
rpmbuild/noarch/*
rpmbuild/temp/*
